#page-controller {
    @include flex-center;

    width: 100vw;
    height: auto;
}

.button {
    & {
        @include button-color;
        @include shadow;
    
        width: 40px;
        height: 8px;
        margin: 5px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        transition: 0.5s all;
    }

    &:hover {
        @include button-highlight-color;
    }

    &.selected {
        @include button-highlight-color;
        box-shadow: none;
    }
}

@media (orientation: portrait) {
    #page-controller {
        @include flex-column-center;
        width: auto;
        height: 100vh;
        right: 2vmin;
    }
    
    .button {
        width: 8px;
        height: 40px;
    }
}