<div class="introduction">
    <Section title="Skills" width="90vmin">
        <div class="category-container">
            <div class="category">
                <span class="item category-title">Backend</span>
                <span class="item">Express</span>
                <span class="item">TypeScript</span>
                <span class="item">MongoDB</span>
                <span class="item unimportant">Nginx</span>
            </div>
            <div class="category">
                <span class="item category-title">Frontend</span>
                <span class="item">HTML</span>
                <span class="item">CSS</span>
                <span class="item">JavaScript</span>
                <span class="item unimportant">Vue</span>
            </div>
            <div class="category">
                <span class="item category-title">Deployment</span>
                <span class="item">Linux</span>
                <span class="item">PM2</span>
                <span class="item">VPS</span>
                <span class="item unimportant">Docker</span>
                <span class="item unimportant">GCP</span>
            </div>
            <div class="category">
                <span class="item category-title">etc</span>
                <span class="item">Git/Github</span>
                <span class="item">Postman</span>
                <span class="item unimportant">...</span>
            </div>
        </div>
    </Section>
    <Section title="Education" width="90vmin">
        <div class="category-container">
            <div class="category">
                <span class="left">2021.03 ~ 재학중</span>
                <span class="right">경기대학교 컴퓨터공학전공</span>
            </div>
            <div class="category">
                <span class="left">2018.03 ~ 2021.02</span>
                <span class="right">선린인터넷고등학교 소프트웨어과</span>
            </div>
        </div>
    </Section>
    <Section title="Contacts" width="90vmin">
        <div class="category-container">
            <div class="category">
                <span class="left">이메일</span>
                <span class="right">
                    JinhyeokFang@gmail.com
                    <span class="material-icons" @click="copy('jinhyeokfang@google.com')">
                        content_copy
                    </span>
                </span>
            </div>
            <div class="category">
                <span class="left"></span>
                <span class="right">
                    hyeki0206@naver.com
                    <span class="material-icons" @click="copy('hyeki0206@naver.com')">
                        content_copy
                    </span>
                </span>
            </div>
            <div class="category">
                <span class="left">깃허브</span>
                <span class="right">
                    https://github.com/JinhyeokFang
                    <span class="material-icons" @click="goto('https://github.com/JinhyeokFang')">
                        link
                    </span>
                </span>
            </div>
            <div class="category">
                <span class="left">페이스북</span>
                <span class="right">
                    https://facebook.com/JinhyeokB
                    <span class="material-icons" @click="goto('https://facebook.com/JinhyeokB')">
                        link
                    </span>
                </span>
            </div>
            <div class="category">
                <span class="left">블로그</span>
                <span class="right">
                    https://velog.io/@jinhyeokfang
                    <span class="material-icons" @click="goto('https://velog.io/@jinhyeokfang')">
                        link
                    </span>
                </span>
            </div>
        </div>
    </Section>
</div>