<div id="profile" :class="{showIntro}">
    <img id="profile-image" draggable="false" src="profile.jpg" alt="프로필 사진">
    <h1 id="title">방진혁</h1>
    <h3 class="text big">":)"</h3>
    <h3 v-if="!showIntro" class="text">경기도 수원시</h3>
    <h3 v-if="!showIntro" class="text">경기대학교 컴퓨터공학전공</h3>
    <h3 v-if="!showIntro" class="text">2002.06</h3>
    <button class="close-button" v-if="showIntro" @click="closeIntro()">
      <span class="material-icons">
        navigate_next
      </span>
    </button>
</div>