body {
    @include app-color;
    
    margin: 0;
    overflow: hidden;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

#notSupport {
    display: none;
    z-index: 10000;
}

@media screen and (orientation: portrait) {
    #notSupport {
      @include flex-center;

      position: fixed;
      text-align: center;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: $app-background-color;
    }
}