body {
    @include app-color;
    
    margin: 0;
    overflow: hidden;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

#portrait, #landscape {
    display: none;
}

@media (orientation: portrait) {
    #portrait {
        display: block;
    }
}

@media (orientation: landscape) {
    #landscape {
        display: block;
    }
}