#page-container {
    @include flex-row-center;

    height: 100vh;
    transition: 0.5s margin;
    scroll-behavior: smooth;
}

@media (orientation: portrait) {
    #page-container {
        @include flex-column-center;
    }
}

.page-button {
    position: absolute;
    bottom: 50vh;
    z-index: 1;
    opacity: 0;
    transition: 0.25s all;
    transition-delay: 0.5s;
    visibility: hidden;
}

.showPreviousButton,
.showNextButton {
    opacity: 1;
    visibility: visible;
}

#previous-page-button {
    left: 5vmin;
    transform: rotate(180deg);
}

#next-page-button {
    right: 5vmin;
    z-index: 1;
}

.page {
    flex: 1;
}

.controller {
    position: absolute;
    bottom: 4vmin;
}