.next-button {
    @include shadow;
    @include flex-column-between;

    width: 40px;
    height: 40px;
}

.button {
    @include button-color;

    width: 40px;
    height: 8px;
    margin: 5px;
    border: none;
    cursor: pointer;
    transition: 0.5s all;
}

#one {
    transform: rotate(45deg);
}

#two {
    transform: rotate(-45deg);
}

.next-button:hover .button {
    @include button-highlight-color;
}