// colors
$app-background-color: #fafafa;
$app-color: black;
$content-background-color: white;
$content-color: black;
$button-color: white;
$button-highlight-color: #9f9f9f;
$card-shadow-color: #9f9f9f;

$dark-app-background-color: #3a3a3a;
$dark-app-color: white;
$dark-content-background-color: #222;
$dark-content-color: white;
$dark-button-color: #9a9a9a;
$dark-button-highlight-color: #5a5a5a;
$dark-card-shadow-color: #222;